.page-header {
    hgroup {
        h1, h2 {
            display: inline-block;
        }
    }
}

.img-container-delicacy {
    display: inline-block;
    width: 30%;
    max-width: 30%;
    margin-bottom: 5px;
}
