h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
}

pre {
    overflow: auto;
}

h1 {
    font-size: 24px;
}

h2, .post-content h2 {
    font-size: 20px;
}

.post-content {
    h1, h2 {
        margin-top: 24px;
        color: darken($text-color, 20%);
    }
}

figure.highlight {
    background-color: #2d2d2d;
    color: #ccc;
}

pre.lineno {
    color: #666;
}

div.highlighter-rouge {
    background-color: #2d2d2d;
    color: #ccc;
    .highlight {
        background-color: transparent;
    }
}

.pager {
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
    list-style: none;
    >li {
        display: inline-block;
        position: relative;
        a {
            display: block;
            color: #0085a1;
            border: 1px solid #0085a1;
            border-radius: 3px;
            padding: 5px 10px;
            text-decoration: none;
            transition: all .2s;
            &:hover {
                color: #fff;
                background-color: #0085a1;
            }
        }
        &.previous {
            float: left;
        }
        &.next {
            float: right;
        }
    }
}
