body {
    font-family: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

pre {
    overflow: auto;
}

h1 {
    font-size: 24px;
}

h2, .post-content h2 {
    font-size: 20px;
}

.post-content {
    h1, h2 {
        margin-top: 24px;
        color: darken($text-color, 20%);
    }
}

figure.highlight {
    background-color: #2d2d2d;
    color: #ccc;
}

pre.lineno {
    color: #666;
}

div.highlighter-rouge {
    background-color: #2d2d2d;
    color: #ccc;
    .highlight {
        background-color: transparent;
    }
}

.pager {
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
    list-style: none;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    >li {
        display: inline-block;
        position: relative;
        a {
            display: block;
            border: 1px solid #1756a9;
            border-radius: 3px;
            padding: 5px 10px;
            text-decoration: none;
            transition: all .2s;
            &:hover {
                color: #fff;
                background-color: #1756a9;
            }
        }
        &.previous {
            float: left;
        }
        &.next {
            float: right;
        }
    }
}
