body {
    font-family: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

pre {
    overflow: auto;
    border-left-width: 5px;
}

h1 {
    font-size: 24px;
}

h2, .post-content h2 {
    font-size: 20px;
}

.post-content {
    h1, h2 {
        margin-top: 24px;
        color: darken($text-color, 20%);
    }
}